*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex-row-centered{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  color: whitesmoke;
  cursor: pointer;
}
.messages-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  overflow: auto;
  height: 100%;
  width: 100%;
}
.message{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}